<ion-header>
  <ion-toolbar>
    <ion-title>
      ConnectionCheck POC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    Cambieri.it - Welcome to Our ConnectionCheck WebApp - Appflow Test Number 2
    <p>Connection check and communication between angular component & service POC by the Cambieri.it Mobile Development Team (info@cambieri.it).<br>
      Visit our <a target="_blank" rel="noopener" href="https://cambieri.it/">SITE</a> to get informations about us.
    </p>
  </div>

  <div class="ion-padding" [style.background-color]="sharedDataService.IS_ONLINE ? '#00ff00' : '#ff0000'">
    NETWORK CONNECTION STATUS: {{sharedDataService.NETWORK_STATUS}}
  </div>

  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="sharedDataService.forceOnline()">
      <ion-icon slot="start" name="wifi"></ion-icon>
      Force ONLINE status
    </ion-button>
    <ion-button class="ion-margin-top" expand="block" color="danger" (click)="sharedDataService.forceOffline()">
      <ion-icon slot="start" name="warning"></ion-icon>
      Force OFFLINE status
    </ion-button>
  </div>

</ion-content>